@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap');

:root {
  font-family: 'Gowun Dodum', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #4a3b2b;
  /* Dark brown text */
  background-color: #fdf5e6;
  /* Old Lace background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-image:
    radial-gradient(#d7ccc8 1px, transparent 1px),
    radial-gradient(#d7ccc8 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

h1 {
  font-family: 'Jua', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #3e2723;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px #fff;
}

button {
  border-radius: 4px;
  border: 2px solid #5d4037;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Jua', sans-serif;
  background-color: #ffcc80;
  color: #3e2723;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 3px 3px 0px #5d4037;
}

button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px #5d4037;
  background-color: #ffa726;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px #5d4037;
}